<div id="<%= @command %>ing_<%= @watch %>" class="panel" title="<%= @title %>">
  <h2><%= @success ? 'Success' : 'Failed' %></h2>
  <fieldset>
    <div align='left'><%= @log %></div>
  </fieldset>
</div>
