<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <style type="text/css" media="screen">@import "/iui/iuix.css";</style>
    <style type="text/css" media="screen">@import "/app.css";</style>
    <script type="application/x-javascript" src="/app.js"></script>
    <script type="application/x-javascript" src="/iui/iuix.js"></script>
    <script type="text/javascript">  iui.animOn = true;</script>
  </head>
  <body>
    <div class="toolbar">
      <h1 id="pageTitle"><%= @title %></h1>
      <a id="backButton" class="button" href="#"></a>
      <a class="button" href="/" target="_self">Refresh</a>
    </div>
    <ul id="home" selected="true" title="<%= @title %>">
    <% unless @groups.empty? %>
      <li class="group">Groups</li>
        <% @groups.each do |watch| %>
          <li id="<%= watch %>"><a href="/g/<%= watch %>"><img src="icons/groups.png"><%= watch %></a></li>
        <% end %>
      <% end %>
      <% @watches.each do |state, watches| %>
        <li class="group"><%= state.capitalize %></li>
        <% for watch in watches.sort %>
          <li id="<%= watch %>">
          <a href="/w/<%= watch %>"><img src="icons/<%= @statuses[watch][:state] %>.png"></img><%= watch %></a></li>
        <% end %>
      <% end %>
      <li class="group">Extras</li>
      <li id="god_opts"><a href="/o"><img src="icons/monitor.png"></img>God</a></li>
      <li id="top_show"><a href="/t"><img src="icons/terminal.png"></img>Top</a></li>
      <li id="home_icon"><a href="/i"><img src="icons/bookmark.png"></img>Icon</a></li>
      <li class="group">About</li>
      <% for stat in @stats %>
        <li class="tiny"><img src="icons/<%= stat[0] %>.png"><%= stat[1] %></li>
      <% end %>
      <li class="tiny"><img src="icons/ruby.png"></img><%= @footer %> [ok]</li>
    </ul>
  </body>
</html>
