
.block.small.left
  .block_head
    .bheadl
    .bheadr
    %h2 Sensors
  / .block_head ends
  .block_content
    %ul.imglist
      %li
        %h3 Room 1
        %img{:alt => "", :src => "icons/temp.png"}/
        %h2 22°c
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete

      %li
        %h3 Sala de Jantar
        %img{:alt => "", :src => "icons/luminosity.png"}/
        %h2 200
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete
      %li
        %h3 Quintal
        %img{:alt => "", :src => "icons/rain.png"}/
        %h2 Chuva
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete
      %li
        %img{:alt => "", :src => "icons/day.png"}/
        %h2 Dia
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete
      %li
        %img{:alt => "", :src => "icons/night.png"}/
        %h2 Noite
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete

      %li
        %h3 Casa
        %img{:alt => "", :src => "icons/current.png"}/
        %h2 50A
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete
      %li
        %h3 Room 1
        %img{:alt => "", :src => "icons/noise.png"}/
        %h2 Noise
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete

      - unless true # @sensors.empty?
        %li.group Sensors
        - @sensors.each do |name, sensor|
          %li{:id => name}
            %a{:href => "/g/#{name}"}
              - if sensor.digital?
                %img{:src => "icons/#{sensor.parse}.png"}/
                = name
                %span.tiny.gray= sensor
              - else
                %img{:src => "icons/groups.png"}/
                = sensor
                %span.tiny.gray= name.to_s.capitalize
              %span.pico.gray (#{sensor.raw}~)
      - @watches.each do |state, watches|
        %li.group= state.capitalize
        - for watch in watches.sort
          %li{:id => watch}
            %a{:href => "/w/#{watch}"}
              %img{:src => "icons/#{@statuses[watch][:state]}.png"}/
              = watch
  .bendl
  .bendr
.block.small.right
  .block_head
    .bheadl
    .bheadr
    %h2 Actions
  / .block_head ends
  .block_content
    %ul.imglist
      %li
        %h3 Portão
        %img{:alt => "", :src => "icons/unlocked.png"}/
        %h2 Open
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete
      %li
        %h3 Cafofo
        %img{:alt => "", :src => "icons/irrigation.png"}/
        %h2 On
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete


      %li
        %img{:alt => "", :src => "icons/lamp-big.png"}/
        %h2 Open
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete

      %li
        %h3 A/C
        %img{:alt => "", :src => "icons/refrigeration.png"}/
        %h2 +20
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete
      %li
        %img{:alt => "", :src => "icons/lamp-big.png"}/
        %h2 On
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete

      %li
        %h3 Porta Sala
        %img{:alt => "", :src => "icons/locked.png"}/
        %h2 Close
        %ul
          %li.view
            %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
          %li.delete
            %a{:href => "#deleted"} Delete
  .bendl
  .bendr


  // %li.group Control
  // %li#god_opts
  //   %a{:href => "/o"}
  //     %img{:src => "icons/start.png"}/
  //     Power
  // %li#god_opts
  //   %a{:href => "/o"}
  //     %img{:src => "icons/dashboard.png"}/
  //     Sensors
  // %li#top_show
  //   %a{:href => "/t"}
  //     %img{:src => "icons/terminal.png"}/
  //     Top
  // %li#home_icon
  //   %a{:href => "/i"}
  //     %img{:src => "icons/bookmark.png"}/
  //     Icon
  #stats
