

%ul#home{:selected => "true", :title => @title}
  =# @sensors
  - unless @sensors.empty?
    %li.group Sensors
    - @sensors.each do |name, sensor|
      %li{:id => name}
        %a{:href => "/g/#{name}"}
          - if sensor.digital?
            %img{:src => "icons/#{sensor.parse}.png"}/
            = name
            %span.tiny.gray= sensor
          - else
            %img{:src => "icons/groups.png"}/
            = sensor
            %span.tiny.gray= name.to_s.capitalize
          %span.pico.gray (#{sensor.raw}~)
  - @watches.each do |state, watches|
    %li.group= state.capitalize
    - for watch in watches.sort
      %li{:id => watch}
        %a{:href => "/w/#{watch}"}
          %img{:src => "icons/#{@statuses[watch][:state]}.png"}/
          = watch
  %li.group Control
  %li#god_opts
    %a{:href => "/o"}
      %img{:src => "icons/start.png"}/
      Power
  %li#god_opts
    %a{:href => "/o"}
      %img{:src => "icons/dashboard.png"}/
      Sensors
  %li#top_show
    %a{:href => "/t"}
      %img{:src => "icons/terminal.png"}/
      Top
  %li#home_icon
    %a{:href => "/i"}
      %img{:src => "icons/bookmark.png"}/
      Icon
  %li.group About
  - for stat in @stats
    %li.tiny
      %img{:src => "icons/#{stat[0]}.png"}/
      = stat[1]
  %li.tiny
    %img{:src => "icons/ruby.png"}/
    = @footer
    [ok]
