!!! Transitional
%head
  %title= @title
  %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }/
  // %style{:media => "screen", :type => "text/css"} @import "/iui/iuix.css";
  // %style{:media => "screen", :type => "text/css"} @import "/app.css";
  // %style{:media => "screen", :type => "text/css"} @import "/layout.css";

  = stylesheet_link_tag "style", "facebox", "visualize" #, :cache => "cache/cssall"
  = javascript_include_tag "jquery", "jquery-ui", "rails", "helper", "main" #, :cache => "cache/jsall"

  -# %link{:href => "jquery.wysiwyg.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  -# %link{:href => "date_input.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

  /%script{:src => "/app.js", :type => "application/x-javascript"}
  %script{:src => "/jquery.js", :type => "application/x-javascript"}
  %script{:src => "/jquery.img.preload.js", :type => "application/x-javascript"}
  %script{:src => "/jquery.tablesorter.min.js", :type => "application/x-javascript"}
  %script{:src => "/jquery.visualize.js", :type => "application/x-javascript"}
  %script{:src => "/jquery.sparkline.js", :type => "application/x-javascript"}
  %script{:src => "/facebox.js", :type => "application/x-javascript"}
  %script{:src => "/faye.js", :type => "application/x-javascript"}
  %script{:src => "/custom.js", :type => "application/x-javascript"}

  %link{:href => '/icons/favicon.png', :rel => 'shortcut icon'}

%body
  #hld
    .wrapper
      / wrapper begins
      #header
        .hdrl
        .hdrr
        %h1
          %a{:href => "#"}= @title
        %ul#nav
          %li
            %a{:href => "#"} Dashboard
          %li.active
            %a{:href => "#"} Power
            %ul
              %li
                %a{:href => "#"} List pages
              %li
                %a{:href => "#"} Add page
              %li
                %a{:href => "#"} More actions
                %ul
                  %li
                    %a{:href => "#"} Some action
                  %li
                    %a{:href => "#"} Some action
                  %li
                    %a{:href => "#"} Some action
                    %ul
                      %li
                        %a{:href => "#"} Some action
                      %li
                        %a{:href => "#"} Some action
                      %li
                        %a{:href => "#"} Some action
          %li
            %a{:href => "#"} Sensors
          %li
            %a{:href => "#"} Options
            %ul
              %li
                %a{:href => "#"} List media
              %li
                %a{:href => "#"} Add media
              %li
                %a{:href => "#"} Something else
          %li
            %a{:href => "#"} Users
        %p.user
          Hello,
          %a{:href => "#"} John
          |
          %a{:href => "index.html"} Logout
      / #header ends
      = yield

  %li.tiny
    %img{:src => "icons/ruby.png"}/
    = @footer
    [ok]

  %script{:src => "/rt.js", :type => "application/x-javascript"}
